# 带空格的路径必须用双引号包裹，避免Git拆分
"/Assets/Assets Packs/Models/Suntail Village/Audio/Suntail - Mild Flight.wav" filter=lfs diff=lfs merge=lfs -text
"/Assets/Assets Packs/Models/Suntail Village/Demo/Suntail Village.unity" filter=lfs diff=lfs merge=lfs -text
"/Assets/MMD4Mecanim/Plugins/MMD4MecanimBulletPhysics 2.75/iOS/libBulletPhysics.a" filter=lfs diff=lfs merge=lfs -text
"/Assets/MMD4Mecanim/Plugins/MMD4MecanimBulletPhysics 2.75/iOS/libMMD4MecanimBulletPhysics.a" filter=lfs diff=lfs merge=lfs -text
"/Assets/MMD4Mecanim/Plugins/MMD4MecanimBulletPhysics/iOS/libBulletPhysics.a" filter=lfs diff=lfs merge=lfs -text
"/Assets/MMD4Mecanim/Plugins/MMD4MecanimBulletPhysics/iOS/libMMD4MecanimBulletPhysics.a" filter=lfs diff=lfs merge=lfs -text
"/Assets/Art/Models/Suntail Village/Audio/Suntail - Mild Flight.wav" filter=lfs diff=lfs merge=lfs -text
"/Assets/Art/Models/Suntail Village/Demo/Suntail Village.unity" filter=lfs diff=lfs merge=lfs -text
"/Assets/MySetting/MMD4Mecanim/Plugins/MMD4MecanimBulletPhysics 2.75/iOS/libBulletPhysics.a" filter=lfs diff=lfs merge=lfs -text
"/Assets/MySetting/MMD4Mecanim/Plugins/MMD4MecanimBulletPhysics 2.75/iOS/libMMD4MecanimBulletPhysics.a" filter=lfs diff=lfs merge=lfs -text
"/Assets/MySetting/MMD4Mecanim/Plugins/MMD4MecanimBulletPhysics/iOS/libBulletPhysics.a" filter=lfs diff=lfs merge=lfs -text
"/Assets/MySetting/MMD4Mecanim/Plugins/MMD4MecanimBulletPhysics/iOS/libMMD4MecanimBulletPhysics.a" filter=lfs diff=lfs merge=lfs -text

*.a filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.bundle filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.unity filter=lfs diff=lfs merge=lfs -text
*.asset filter=lfs diff=lfs merge=lfs -text
*.prefab filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
